.swiper {
	@media (max-width: $mobile) {
		overflow: hidden;
	}
}

.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none;
}

.swiper-slide {
	user-select: none;
	overflow: hidden;
	position: relative;
	transition: opacity 0.3s;
	opacity: 0.5;

	&-active {
		transition: opacity 0.3s;
		opacity: 1;
	}
}

.swiper-pagination {
	display: flex;
	align-items: center;
	z-index: 30;

	@media (max-width: $mobile) {
		margin-top: toRem(20);
	}
}

.swiper-pagination-bullet {
	display: flex;
	aspect-ratio: 1 / 1;
	@include adaptiveValue(width, 12, 9);
	@include adaptiveValue(border-radius, 2, 1.5);
	transition: opacity 0.3s;
	background-color: #fff;
	opacity: 0.5;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: toRem(3);
	}

	&-active {
		transition: opacity 0.3s;
		opacity: 1;
	}
}

.swiper-buttons {
	display: flex;
	align-items: center;
	z-index: 30;
}

.swiper-button {
	&-next,
	&-prev {
		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 1 / 1;

		@include adaptiveValue(width, 50, 48);
		@include adaptiveValue(border-radius, 12.5, 8);

		transition: opacity 0.3s;
		opacity: 1;

		background: $mainColorLight;
		color: $mainColor;
		font-size: toRem(25);

		&:not(:last-child) {
			@include adaptiveValue(margin-right, 6, 8);
		}
	}

	&-prev {
		transform: scaleX(-1);
	}

	&-disabled {
		transition: opacity 0.3s;
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.swiper-conrtol {
	display: flex;
	align-items: end;
	justify-content: space-between;
	@include adaptiveValue(margin-top, 20, 10);

	@media (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	&_center {
		width: 100%;
		justify-content: center;

		.swiper-buttons {
			width: 100%;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			@include adaptiveValue(padding-inline, 13, 8);
		}

		.swiper-pagination {
			justify-content: center;
		}
	}
}

.swiper-banner {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.swiper-slide {
		border-radius: toRem(20);
		border: toRem(1) solid $mainColorLight;
	}
}