.footer {
	border: toRem(1) solid $mainColor;
	background-color: $accentColor;
	box-shadow: 0 0 toRem(20) $accentColor;
	border-top-left-radius: toRem(20);
	border-top-right-radius: toRem(20);

	&__container {
		position: relative;
		@include adaptiveValue(padding-top, 45, 20);
		@include adaptiveValue(padding-bottom, 40, 15);
	}

	&__logo {
		text-align: center;
		margin-bottom: toRem(30);
	}

	&__logo-image {
		max-width: 100%;
	}

	&__conent-wrap {
	}

	&__conent {
		display: flex;
		align-items: start;
		justify-content: space-between;
		line-height: toRem(30);
		color: $mainColor;

		row-gap: toRem(20);

		&:first-child {
			@include adaptiveValue(margin-bottom, 70, 8);
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__item {
	}

	&__link {
		font-weight: 600;

		transition: color 0.3s;

		@media (any-hover: hover) {
			&:hover {
				transition: color 0.3s;
				color: $mainColorLight;
			}
		}
	}

	&__paragraph {
		font-weight: 500;
		font-size: toRem(16);
	}

	&__policy {
	}

	&__copy {
		font-family: $fontFamily;
	}

	&__brand {
		font-family: $headingFont;
		text-transform: uppercase;
		font-size: toRem(20);
	}

	&__decarative {
		position: absolute;
		bottom: toRem(45);
		left: 50%;
		translate: -50% 0;

		@media (max-width: $mobile) {
			position: relative;
			text-align: center;
			translate: 0 0;
			left: 0;
			bottom: 0;
			margin-top: toRem(24);
		}
	}
}
